<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.smart.rider.subject.mapper.SubjectMapper">

	<!-- 계정과목 resultMap -->
	<resultMap type="com.smart.rider.subject.dto.SubjectDTO" id="subjectMap">
		<result column="subject_code" 	property="subjectCode"/>
		<result column="member_id" 		property="memberId"/>
		<result column="subject_number" property="subjectNumber"/>
		<result column="subject_name" 	property="subjectName"/>
		<result column="subject_date" 	property="subjectDate"/>
	</resultMap>
	
	<!-- 계정과목 리스트 -->
	<select id="subjectList" resultMap="subjectMap" parameterType="String">
		SELECT 
			 subject_code
			,member_id
			,subject_number
			,subject_name
			,subject_date
		FROM subject
		<if test="subjectCode neq null and subjectCode neq ''.toString()">
            WHERE
                subject_code = #{subjectCode}
        </if>
	</select>
	
	<!-- 계정과목코드 자동증가 -->
	<select id="subjectCodeCount" resultType="String">
		SELECT 
			MAX(LPAD(RIGHT(subject_code, 4)+1, '4' , '0')) 
		FROM subject;
	</select>
	
	<!-- 계정과목 등록 -->
	<insert id="subjectInsert" parameterType="com.smart.rider.subject.dto.SubjectDTO">
		INSERT INTO subject(
			 subject_code
			,member_id
			,subject_number
			,subject_name
			,subject_date)
		VALUES (#{subjectCode}, #{memberId}, #{subjectNumber}, #{subjectName}, NOW())
	</insert>
	
	<!-- 삭제 불가능한 계정과목 리스트 (외래키 참조중)-->
	<select id="subjectDeleteImpossible" parameterType="String" resultMap="subjectMap">
		SELECT DISTINCT 
			 su.subject_code
			,sub.member_id
			,sub.subject_number
			,sub.subject_name
			,sub.subject_date
		FROM spend_utility su, subject sub
		WHERE su.subject_code = sub.subject_code
		<if test="subjectKey neq null and subjectValue neq ''.toString()">
            AND
                sub.${subjectKey} LIKE CONCAT('%',#{subjectValue},'%')
        </if>
        <if test="beginDate neq ''.toString() and endDate eq ''.toString()">
        	AND 
        		sub.subject_date between #{beginDate} and NOW()		
        </if>
        <if test="beginDate eq ''.toString() and endDate neq ''.toString()">
        	AND 
        		sub.subject_date between '2000-01-01' and #{endDate}
        </if>
        <if test="beginDate neq ''.toString() and endDate neq ''.toString()">
        	AND 
        		sub.subject_date between #{beginDate} and #{endDate}
        </if>
	</select>
	
	<!-- 삭제 가능한 계정과목 리스트 -->
	<select id="subjectDeletePossible" resultMap="subjectMap" parameterType="String">
		SELECT
			 sub.subject_code
			,sub.member_id
			,sub.subject_number
			,sub.subject_name
			,sub.subject_date
		FROM subject sub LEFT JOIN spend_utility su 
		ON sub.subject_code = su.subject_code
		WHERE su.subject_code IS NULL
		<if test="subjectKey neq null and subjectValue neq ''.toString()">
            AND
                sub.${subjectKey} LIKE CONCAT('%',#{subjectValue},'%')
        </if>
        <if test="beginDate neq ''.toString() and endDate eq ''.toString()">
        	AND 
        		sub.subject_date between #{beginDate} and NOW()		
        </if>
        <if test="beginDate eq ''.toString() and endDate neq ''.toString()">
        	AND 
        		sub.subject_date between '2000-01-01' and #{endDate}
        </if>
        <if test="beginDate neq ''.toString() and endDate neq ''.toString()">
        	AND 
        		sub.subject_date between #{beginDate} and #{endDate}
        </if>
	</select>
	
	<!-- 계정과목 삭제 -->
	<delete id="subjectDelete" parameterType="String">
		DELETE 
		FROM subject 
		WHERE subject_code=#{subjectCode}
	</delete>
	
	<!-- 계정과목 수정 -->
	<update id="subjectUpdate" parameterType="com.smart.rider.subject.dto.SubjectDTO">
		UPDATE subject SET
			member_id=#{memberId},
			subject_number=#{subjectNumber},
			subject_name=#{subjectName},
			subject_date=NOW()
		WHERE subject_code=#{subjectCode}
		
		
	</update>
		
</mapper>