<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
</th:block>
<th:block layout:fragment="customContents">
	<div class="container mt-5">
		<div class="row tm-content-row">
			<div class="col-xl mx-auto tm-block-col tm-col-account-settings">
				<!-- 상세보기한 id의 이름과 권한 -->
				<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
					<h2 class="tm-block-title" id="searchName">[[${getEmployeeList.memberName}]]</h2>
					<p class="text-white" id="searchLevel">[[${getEmployeeList.memberLevel}]]</p>
				</div>
			</div>
		</div>
		<!-- row -->
		<div class="row tm-content-row">
			<div class="col-xl mx-auto tm-block-col tm-col-account-settings">
				<div class="tm-bg-primary-dark tm-block tm-block-settings">
					<h2 class="tm-block-title">회원정보</h2>
					<form action="/employeeUpdate" class="tm-signup-form row" method="post">
						<!-- 매장 릴레이션 코드 -->
						<input type="text" id="contractShopCode" name="contractShopCode" th:value="${getEmployeeList.contractShopCode}">
						<!-- 아이디 readonly 색 변경 -->
						<div class="form-group col-lg-6">
							<label for="id">아이디</label>
							<input id="memberId" name="memberId" type="text" 
								   th:value="${getEmployeeList.memberId}" class="form-control validate" style="background-color: #54657D" readonly="readonly"/>
						</div>
						<!-- 비밀번호수정버튼 클릭으로 수정 -->
						<div class="form-group col-lg-6">
							<label for="password">비밀번호</label>
							<!-- 새창을 오픈하여 수정 -->
							<button class="btn btn-outline-info form-control validate" id="updatePw" type="button">
									비밀번호 수정
							</button>
						</div>
						<div class="form-group col-lg-6">
							<label for="name">이름</label>
							<input id="memberName" name="memberName" type="text" 
								   th:value="${getEmployeeList.memberName}" class="form-control validate" />
						</div>
						<div class="form-group col-lg-6">
							<label for="birth">생년월일</label>
							<input id="memberBirth" name="memberBirth" type="text" 
								   th:value="${getEmployeeList.memberBirth}" class="form-control validate" />
						</div>
						<div class="form-group col-lg-6">
							<label for="address">주소</label>
							<input id="memberAddress" name="memberAddress" type="text" 
								   th:value="${getEmployeeList.memberAddress}" class="form-control validate" />
						</div>
						<div class="form-group col-lg-6">
							<label for="email">이메일</label>
							<input id="memberEmail" name="memberEmail" type="text" 
								   th:value="${getEmployeeList.memberEmail}" class="form-control validate" />
						</div>
						<div class="form-group col-lg-6">
							<label for="phone">전화번호</label>
							<input id="memberPhone" name="memberPhone" type="text" 
								   th:value="${getEmployeeList.memberPhone}" class="form-control validate" />
						</div>
						<div class="form-group col-lg-6">
							<label>&nbsp;</label>
							<button type="submit" class="btn btn-primary btn-block text-uppercase">
								회원 수정
							</button>
						</div>
						<div class="form-group col">
							<label>&nbsp;</label>
							<!-------- 탈퇴 버튼 클릭시 팝업으로 비밀번호 확인 후 탈퇴 할 수 있다  --------->
							<a id="deleteBtn" class="btn btn-primary btn-block text-uppercase" 
								th:href="@{/employeeDelete(memberId=${getEmployeeList.memberId})}">
								회원 탈퇴
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="customScript">
<script type="text/javascript">
	$(document).ready(function(){
		$('#updatePw').click(function(){
			var memberId = $("#memberId").val();
			window.open('/changePassword?memberId='+memberId+'','비밀번호수정','left='+(screen.availWidth-550)/2+',top='+(screen.availHeight-430)/3+',width=430,height=550,location=no,status=no,scrollbars=yes')
		});
	});
</script>
</th:block>
</html>