<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.rider.customer.mapper.CustomerMapper">
<select id="customerList" resultType="com.smart.rider.customer.dto.CustomerDTO">
	SELECT 	 rental_customer_code 		AS rentalCustomerCode
			,contract_shop_code 		AS contractShopCode
			,goods_rental_code 			AS goodsRentalCode
			,rental_customer_name 		AS rentalCustomerName
			,rental_customer_address 	AS rentalCustomerAddress
			,rental_customer_phone 		AS rentalCustomerPhone
			,rental_customer_start 		AS rentalCustomerStart
			,rental_customer_finish 	AS rentalCustomerFinish
			,rental_customer_overdue 	AS rentalCustomerOverdue
			,rental_customer_date 		AS rentalCustomerDate
			,rental_customer_return 	AS rentalCustomerReturn
	FROM 
		rental_customer
</select>
<select id="getCustomerList" parameterType="String" resultType="com.smart.rider.customer.dto.CustomerDTO">
	SELECT 	 rental_customer_code 		AS rentalCustomerCode
			,contract_shop_code 		AS contractShopCode
			,goods_rental_code 			AS goodsRentalCode
			,rental_customer_name 		AS rentalCustomerName
			,rental_customer_address 	AS rentalCustomerAddress
			,rental_customer_phone 		AS rentalCustomerPhone
			,rental_customer_start 		AS rentalCustomerStart
			,rental_customer_finish 	AS rentalCustomerFinish
			,rental_customer_overdue 	AS rentalCustomerOverdue
			,rental_customer_date 		AS rentalCustomerDate
			,rental_customer_return 	AS rentalCustomerReturn
	FROM 
		rental_customer
	WHERE
		rental_customer_code = #{rentalCustomerCode}
</select>
</mapper>