<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace가 인터페이스와 일치해야 연결된다 -->
<mapper namespace="com.smart.rider.account.mapper.AccountMapper">
	<select id="accountList" resultType="com.smart.rider.account.dto.AccountDTO">
		
		SELECT 
			 account_code AS accountCode
			,contract_shop_code AS contractShopCode
			,account_market AS accountMarket
			,account_name AS accountName
			,account_phone AS accountPhone
			,account_address AS accountAddress
			,account_category AS accountCategory
			,account_date AS accountDate
		FROM account
		
	</select>
	<select id="accountMaxCode" resultType="String">
		SELECT 
				MAX(LPAD(RIGHT(account_code, 4)+1, '4' , '0')) 
			FROM account;
	
	</select>
	<insert id="accountInsert" parameterType="com.smart.rider.account.dto.AccountDTO">
		INSERT INTO account
		(
		  account_code
		 ,contract_shop_code
		 ,account_market, account_name
		 ,account_phone, account_address
		 ,account_category
		 ,account_date)
	VALUES (
		  #{accountCode}
		 ,#{contractShopCode}
		 ,#{accountMarket}
		 ,#{accountName}
		 ,#{accountPhone}
		 ,#{accountAddress}
		 ,#{accountCategory}
		 , NOW())
	
	</insert>
	<select id="getShopRelationCode" parameterType="String" resultType="com.smart.rider.shop.dto.SsrHapDTO">
		SELECT DISTINCT
			sr.contract_shop_code AS contractShopCode 
			,s.shop_name AS shopName
		
		FROM shop_relation sr, shop s
		WHERE sr.shop_code =s.shop_code AND sr.member_id =#{SID}
	
	</select>

</mapper>