<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
</th:block>
<th:block layout:fragment="customContents">
 <body>
  <div class="main-height">
		<!-- MAIN CONTENT -->
		<div class="main-content">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="text-white mt-5 mb-5">
							<b>계약관리 >계약금 관리 </b>
						</p>
					</div>
				</div>


				<!-- row -->
				<div class="row tm-content-row">
					<div class="col-12 tm-block-col">
						<div class="tm-bg-primary-dark tm-block-scroll tm-block-sc">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">계약자 아이디</th>
										<th scope="col">납입방식</th>
										<th scope="col">계약금액</th>
										<th scope="col">납부금액</th>
										<th scope="col">미납금액</th>
										<th scope="col">계약상태</th>
										<th scope="col">사유</th>
										<th scope="col">최종수정일자</th>
										<th scope="col" style="width: 8%" class="text-center">수정</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each=" mlist : ${managementList}">
										<td th:text="${mlist.memberId}"></td>
										<td th:text="${mlist.contractMethod}"></td>
										<td th:text="${mlist.contractPay}"></td>
										<td th:text="${mlist.contractManagementAmout}"></td>
										<td th:text="${mlist.contractManagementUnpaid}"></td>
										<td th:text="${mlist.contractManagementState}"></td>
										<td th:text="${mlist.contractManagementContents}"></td>
										<td th:text="${mlist.contractManagementDate}"></td>
										<td>
											<a
											 th:href="@{/managementUpdate(contractManagementCode=${mlist.contractManagementCode})}"
											 class="tm-product-delete-link">
											 <i class="fas fa-check tm-product-check-icon"></i>
											</a>
										</td>

								</tbody>
							</table>
						</div>
					</div>
				</div>
	
			
		</div>
	</div>
</body>
</th:block>
</th:block>
<th:block layout:fragment="customScript">

	
</th:block>
</html>