<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
</th:block>
<th:block layout:fragment="customContents">
	<!-- MAIN -->
	<div class="main">
		<div class="container mt-5">
			<div class="row tm-content-row">
				<div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
					<div class="tm-bg-primary-dark tm-block tm-block-products">
						<div class="tm-product-table-container">
											
							<table class="table table-hover tm-table-small tm-product-table">							
								<thead>
									<tr>
										<th scope="col">상품DB코드</th>
										<th th:text="${goodsDB.goodsDbCode}"></th>										
									</tr>
									<tr>
										<th scope="col">상품명</th>
										<th th:text="${goodsDB.goodsDbName}"></th>										
									</tr>
								
								
									<tr>
										<th scope="col">판매자</th>
										<th th:text="${goodsDB.memberId}"></th>
									</tr>
									<tr>
										<th scope="col">상품카테고리</th>
										<th th:text="${goodsDB.goodsDbCategory}" ></th>
									</tr>									
									<tr>
										<th scope="col">상품번호</th>
										<th th:text="${goodsDB.goodsDbNumber}"></th>
									</tr>									
									<tr>
										<th scope="col">색상</th>
										<th th:text="${goodsDB.goodsDbColor}"></th>
									</tr>
									<tr>
										<th scope="col">중량</th>
										<th th:text="${goodsDB.goodsDbWeight}"></th>
									</tr>
									<tr>
										<th scope="col">최대속도</th>
										<th th:text="${goodsDB.goodsDbSpeed}"></th>
									</tr>
									<tr>
										<th scope="col">박퀴사이즈</th>
										<th th:text="${goodsDB.goodsDbSize}"></th>
									</tr>
									<tr>	
										<th scope="col">제조국가</th>
										<th th:text="${goodsDB.goodsDbNation}"></th>
									</tr>
									<tr>	
										<th scope="col">최대하중</th>
										<th th:text="${goodsDB.goodsDbLoad}"></th>
									</tr>
									<tr>	
										<th scope="col">주행가능거리</th>
										<th th:text="${goodsDB.goodsDbDistance}"></th>
									</tr>
									<tr>	
										<th scope="col">베터리용량</th>
										<th th:text="${goodsDB.goodsDbBattery}"></th>
									</tr>
									<tr>	
										<th scope="col">완충시간</th>
										<th th:text="${goodsDB.goodsDbTime}"></th>
									</tr>
									<tr>	
										<th scope="col">제조일자</th>
										<th th:text="${goodsDB.goodsDbMade}"></th>
									</tr>
									<tr>	
										<th scope="col">상품이미지</th>
										<th th:text="${goodsDB.goodsDbImage}"></th>
									</tr>									
									<tr>	
										<th scope="col">DB등록일자</th>
										<th th:text="${goodsDB.goodsDbDate}"></th>
									</tr>
								</thead>								
							</table>							
						</div>
						
						<!-- table container -->
						
						<a th:if="${session.SLEVEL eq '관리자'}" th:href="@{/goodsDbDelete(goodsDbCode=${goodsDB.goodsDbCode})}"
							class="btn btn-primary btn-block text-uppercase mb-3">DB상품
							삭제하기</a>
						<a  th:href="@{/purchaseInsert(goodsDbCode=${goodsDB.goodsDbCode})}"
							class="btn btn-primary btn-block text-uppercase mb-3">매입 등록하기</a>
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
					<div
						class="tm-bg-primary-dark tm-block tm-block-product-categories">
						<h2 class="tm-block-title">상품 카테고리</h2>
						<div class="tm-product-table-container">
							<table class="table tm-table-small tm-product-table">
								<tbody>
									<tr>
										<td class="tm-product-name">전동 킥보드</td>
										<td class="text-center"><a href="#"
											class="tm-product-delete-link"> <i
									
												class="fas fa-check tm-product-check-icon"></i>

										</a></td>
									</tr>
									<tr>
										<td class="tm-product-name">전동 휠</td>
										<td class="text-center"><a href="#"
											class="tm-product-delete-link"> <i
												class="fas fa-check tm-product-check-icon"></i>
										</a></td>
									</tr>
									<tr>
										<td class="tm-product-name">전동 자전거</td>
										<td class="text-center"><a href="#"
											class="tm-product-delete-link"> <i
												class="fas fa-check tm-product-check-icon"></i>
										</a></td>
									</tr>
									<tr>
										<td class="tm-product-name">전동 바이크</td>
										<td class="text-center"><a href="#"
											class="tm-product-delete-link"> <i
												class="fas fa-check tm-product-check-icon"></i>
										</a></td>
									</tr>

								</tbody>
							</table>
						</div>
						<!-- table container -->
						<button class="btn btn-primary btn-block text-uppercase mb-3">
							카테고리추가하기</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- END MAIN -->
	<script>
		$(function() {
			$(".tm-product-name").on("click", function() {
				window.location.href = "edit-product.html";
			});
		});
	</script>
</th:block>
</th:block>
<th:block layout:fragment="customScript">
</th:block>
</html>


