<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
</th:block>
<th:block layout:fragment="customContents">
	<form action="/goodsInsert" method="post" class="tm-edit-product-form">
		<div class="container tm-mt-big tm-mb-big">
			<div class="row">
				<div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
					<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
						<div class="row">
							<div class="col-12">
								<h2 class="tm-block-title d-inline-block">판매상품 등록하기</h2>
							</div>
							<input type="hidden">
						</div>
						<div class="row tm-edit-product-row">
							<div class="col-xl-6 col-lg-6 col-md-12">
								<div class="form-group mb-3">
									<input id="goodsDbCode"
										name="goodsDbCode" type="hidden" class="form-control validate"
										th:value="${purchaseCode.goodsDbCode}"
										required />
								</div>
								<div class="form-group mb-3">
									<input id="purchaseCode"
										name="purchaseCode" type="hidden" class="form-control validate"
										th:value="${purchaseCode.purchaseCode}"
										required />
								</div>
								<div class="form-group mb-3">
									<label for="name">상품명 </label> <input id="goodsDbName"
										name="goodsDbName" th:value="${purchaseCode.goodsDbName}"  type="text" class="form-control validate"
										required style="color: red;" readonly="readonly" />
								</div>
								<div class="form-group mb-3">
									<label for="name">상품카테고리 </label> <input id="goodsDbCategory"
										name="goodsDbCategory" th:value="${purchaseCode.goodsDbCategory}"  type="text" class="form-control validate"
										required style="color: red;" readonly="readonly" />
								</div>
								<div class="form-group mb-3">
									<label for="name">매입가격 </label> <input id="purchasePay"
										name="purchasePay"  th:value="${purchaseCode.purchasePay}" type="text" class="form-control validate"
										required style="color: red;" readonly="readonly"/>
								</div>
								<div class="form-group mb-3">
									<label for="name">판매가격 </label> <input id="goodsPay"
										name="goodsPay" type="text" class="form-control validate"
										required />
								</div>
								<div class="form-group mb-3">
									<label for="name">상품위치 </label> <input id="goodsPosition"
										name="goodsPosition" type="text" class="form-control validate"
										required />
								</div>
								<div class="form-group mb-3">
									<label for="name">대여가능여부 </label> <input id="goodsRental"
										name="goodsRental" type="text" class="form-control validate"
										required />
								</div>

								<div class="form-group mb-3">
									<label for="name">상품상태 </label> <input id="goodsState"
										name="goodsState" type="text" class="form-control validate"
										required />
								</div>
								<div class="form-group mb-3">
									<label for="name">판매완료유무 </label> <input
										id="goodsCompletionState" name="goodsCompletionState"
										type="text" class="form-control validate" required />

								</div>
								<div class="form-group mb-3">
									<label for="name">대여상태 </label> <input id="goodsRentalState"
										name="goodsRentalState" type="text"
										class="form-control validate" required />
								</div>
								<div class="form-group mb-3">
									<label for="name">최종재고확인일자 </label> <input
										id="goodsInventoryDate" name="goodsInventoryDate" type="text"
										class="form-control validate" required />
								</div>
								<div class="form-group mb-3">
									<label for="expire_date">등록일자 </label> <input id="goodsDate"
										name="goodsDate" type="text" class="form-control validate"
										data-large-mode="true" />
								</div>
							

							</div>
							<div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
								<div class="tm-product-img-dummy mx-auto">
									<i class="fas fa-cloud-upload-alt tm-upload-icon"
										onclick="document.getElementById('goodsImage').click();"></i>
								</div>
								<div class="custom-file mt-3 mb-3">
									<input id="goodsDbImage" type="file" style="display: none;" />
									<input type="button" class="btn btn-primary btn-block mx-auto"
										value="이미지등록"
										onclick="document.getElementById('goodsImage').click();" />
								</div>
							</div>
					<!-- 		<div class="col-12">
								<a th:href="@{/goodsInsert(goodsDbCode=${goodsDbCode})}"
							class="btn btn-primary btn-block text-uppercase mb-3">판매상품등록</a> -->
							
								<button type="submit" 
									class="btn btn-primary btn-block text-uppercase">판매상품등록완료</button>
							</div>

						</div>
					</div>
				</div>
			</div>
	

		<script src="js/jquery-3.3.1.min.js"></script>
		<!-- https://jquery.com/download/ -->
		<script src="jquery-ui-datepicker/jquery-ui.min.js"></script>
		<!-- https://jqueryui.com/download/ -->
		<script src="js/bootstrap.min.js"></script>
		<!-- https://getbootstrap.com/ -->
		<script>
			$(function() {
				$("#expire_date").datepicker();
			});
		</script>
	</form>
</th:block>
</th:block>
<th:block layout:fragment="customScript">
</th:block>
</html>



















