<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.rider.goods.mapper.GoodsdbMapper">

	<select id="goodsDbSearchList" parameterType="String" resultType="com.smart.rider.goods.dto.GoodsdbDTO">
		SELECT
			goods_database_code AS goodsDbCode,
			gdb.member_id AS memberId,
			goods_database_name AS goodsDbName,
			goods_database_category AS	goodsDbCategory,
			goods_database_number AS goodsDbNumber,
			goods_database_color AS goodsDbColor,
			goods_database_weight AS	goodsDbWeight,
			goods_database_speed AS goodsDbSpeed,
			goods_database_size AS goodsDbSize,
			goods_database_nation AS	goodsDbNation,
			goods_database_load AS goodsDbLoad,
			goods_database_distance AS goodsDbDistance,
			goods_database_battery AS	goodsDbBattery,
			goods_database_time AS goodsDbTime,
			goods_database_made	AS goodsDbMade,
			goods_database_description AS goodsDbDescription,
			goods_database_image AS goodsDbImage,
			gdb.goods_database_date AS	goodsDbDate
			
		FROM
		 goods_database gdb INNER JOIN member m 
			ON gdb.member_id = m.member_id
		<if test="searchInput != null and searchInput neq ''.toString()">
			WHERE 
				${select} Like CONCAT('%',#{searchInput},'%')
		</if>
		<if test="beginDate neq ''.toString() and endDate eq ''.toString()">
        	AND 
        		gdb.goods_database_date between #{beginDate} and NOW()		
        </if>
        <if test="beginDate eq ''.toString() and endDate neq ''.toString()">
        	AND 
        		gdb.goods_database_date between '2000-01-01' and #{endDate}
        </if>
        <if test="beginDate neq ''.toString() and endDate neq ''.toString()">
        	AND 
        		gdb.goods_database_date between #{beginDate} and #{endDate}
        </if>
		
	</select>

	<delete id="goodsDbDelete" parameterType="String">
		DELETE 
 				gdb
 		FROM goods_database gdb INNER JOIN member m
 		WHERE 
 				gdb.goods_database_code = #{goodsDbCode}
 			AND m.member_id = #{memberId} 
			AND m.member_pw = #{memberPw}
	</delete>
	
	<select id="getGoodsDbCodeMax" resultType="int">
 		SELECT 
 			MAX(CAST(SUBSTRING(goods_database_code,5) AS DECIMAL)) as maxcol 
		FROM goods_database
 	</select>


	<insert id="goodsDbInsert" parameterType="com.smart.rider.goods.dto.GoodsdbDTO">
		<selectKey keyProperty="goodsDbCode" resultType="String" order="BEFORE">
 			SELECT 
 				CONCAT('GDB00', MAX(CAST(SUBSTRING(goods_database_code,5) AS DECIMAL)+1)) AS goodsDbCode 
			FROM goods_database
 		</selectKey>
		INSERT INTO goods_database(
		 goods_database_code, 
		 member_id, 
		 goods_database_name, 
		 goods_database_category, 
		 goods_database_number, 
		 goods_database_color, 
		 goods_database_weight, 
		 goods_database_speed, 
		 goods_database_size, 
		 goods_database_nation, 
		 goods_database_load, 
		 goods_database_distance, 
		 goods_database_battery, 
		 goods_database_time, 
		 goods_database_made, 
		 goods_database_description, 
		 goods_database_image, 
		 goods_database_date)
		VALUES (
		#{goodsDbCode}, 
		#{memberId}, 
		#{goodsDbName}, 
		#{goodsDbCategory}, 
		#{goodsDbNumber}, 
		#{goodsDbColor}, 
		#{goodsDbWeight}, 
		#{goodsDbSpeed}, 
		#{goodsDbSize}, 
		#{goodsDbNation}, 
		#{goodsDbLoad}, 
		#{goodsDbDistance}, 
		#{goodsDbBattery}, 
		#{goodsDbTime}, 
		#{goodsDbMade}, 
		#{goodsDbDescription}, 
		#{goodsDbImage}, 
		NOW())
	
	</insert>
	<select id="goodsDbList" resultType="com.smart.rider.goods.dto.GoodsdbDTO">
		SELECT
		goods_database_code AS goodsDbCode,
		gdb.member_id AS memberId,
		m.member_id AS memberId,
		goods_database_name AS goodsDbName,
		goods_database_category AS	goodsDbCategory,
		goods_database_number AS goodsDbNumber,
		goods_database_color AS goodsDbColor,
		goods_database_weight AS	goodsDbWeight,
		goods_database_speed AS goodsDbSpeed,
		goods_database_size AS goodsDbSize,
		goods_database_nation AS	goodsDbNation,
		goods_database_load AS goodsDbLoad,
		goods_database_distance AS goodsDbDistance,
		goods_database_battery AS	goodsDbBattery,
		goods_database_time AS goodsDbTime,
		goods_database_made	AS goodsDbMade,
		goods_database_description AS goodsDbDescription,
		goods_database_image AS goodsDbImage,
		goods_database_date AS	goodsDbDate
		
		FROM
		 goods_database gdb INNER JOIN member m 
			ON gdb.member_id = m.member_id
	</select>
	<select id="getGoodsDbCode" resultType="com.smart.rider.goods.dto.GoodsdbDTO">
		SELECT
		goods_database_code AS goodsDbCode,
		m.member_id AS memberId,
		goods_database_name AS goodsDbName,
		goods_database_category AS	goodsDbCategory,
		goods_database_number AS goodsDbNumber,
		goods_database_color AS goodsDbColor,
		goods_database_weight AS goodsDbWeight,
		goods_database_speed AS goodsDbSpeed,
		goods_database_size AS goodsDbSize,
		goods_database_nation AS goodsDbNation,
		goods_database_load AS goodsDbLoad,
		goods_database_distance AS goodsDbDistance,
		goods_database_battery AS	goodsDbBattery,
		goods_database_time AS goodsDbTime,
		goods_database_made	AS goodsDbMade,
		goods_database_description AS goodsDbDescription,
		goods_database_image AS goodsDbImage,
		goods_database_date AS goodsDbDate
		FROM
		 goods_database gdb INNER JOIN member m 
			ON gdb.member_id = m.member_id		
		WHERE 
		goods_database_code = #{goodsDbCode}
	</select>

</mapper>