<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace가 인터페이스와 일치해야 연결된다 -->
<mapper namespace="com.smart.rider.contract.mapper.ContractMapper">
	<!--계약단가표 최신조회 -->
		<select id="unitNew" resultType="com.smart.rider.contract.dto.UnitDTO">
		
			SELECT 
				contract_unit_code AS contractUnitCode
				, member_id AS memberId
				, contract_unit_month AS contractUnitMonth
				, contract_unit_oneyear AS contractUnitOneyear
				, contract_unit_twoyear AS contractUnitTwoyear
				, contract_unit_date AS contractUnitDate
	
	 		FROM contract_unit ORDER by contract_unit_date DESC LIMIT 1 
		
		</select>
		
		<select id="contractList" resultType="com.smart.rider.contract.dto.ContractDTO">
		
			SELECT 
				 contract_code AS contractCode
				,contract_unit_code AS contractUnitCode
				,member_id AS memberId
				,contract_start AS contractStart
				,contract_finish AS contractFinish
				,contract_valid_date AS contractValidDate
				,contract_pay AS contractPay
				,contract_method AS contractMethod
				,contract_information AS contractInformation
				,contract_date AS contractDate
	
	 		FROM contract
		
		</select>
		
		<!-- 계약코드 자동증가 -->

		<select id="contractCodeMax" resultType="String">
			SELECT 
				MAX(LPAD(RIGHT(contract_code, 4)+1, '4' , '0')) 
			FROM contract;
		</select>
		
		<insert id="contractInsert" parameterType="com.smart.rider.contract.dto.ContractDTO">
		
		INSERT INTO contract
			(	 contract_code
				,contract_unit_code
				,member_id
				,contract_start
				,contract_finish
				,contract_valid_date
				,contract_method
				,contract_pay
				,contract_information
				,contract_date)
		VALUES ( 				
				 #{contractCode}
				,#{contractUnitCode}
			 	,#{memberId}
			 	,#{contractStart}
		 	  	,#{contractFinish}
		 	  	,#{contractValidDate}
		 	  	,#{contractMethod}
		 	  	,#{contractPay}
		 	  	,#{contractInformation}
		 	    ,NOW()
		 	    )

		 	    
	</insert>
	<select id="agreementList"	resultType="com.smart.rider.contract.dto.ContractMemberDTO">
		SELECT 
		contract.
			 member_id AS memberId
			,contract_start AS contractStart
			,contract_finish AS contractFinish
			,contract_valid_date AS contractValidDate
		,member.
			 member_id 			AS memberId
			,member_name		AS memberName
			,member_phone 		AS memberPhone
			
		from contract inner join member
		on contract.member_id =member.member_id;
	</select>
		

</mapper>

