<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace가 인터페이스와 일치해야 연결된다 -->
<mapper namespace="com.smart.rider.contract.mapper.ManagementMapper">

	<select id="managementList"	resultType="com.smart.rider.contract.dto.ContractManagementDTO">
		SELECT 
			contract.
				 contract_code		AS contractCode
				,member_id 			AS memberId
				,contract_method 	AS contractMethod
				,contract_pay 		AS contractPay
			,contract_management.
				 contract_code 					AS contractCode
				,contract_management_code 		AS contractManagementCode
				,contract_management_amout 		AS contractManagementAmout
				,contract_management_unpaid 	AS contractManagementUnpaid
				,contract_management_state 		AS contractManagementState
				,contract_management_contents 	AS contractManagementContents
				,contract_management_date 	AS contractManagementDate
			from contract_management inner join contract
			on contract_management.contract_code = contract.contract_code;
	</select>
	
		<select id="managementCodeMax" resultType="String">
			SELECT 
				MAX(LPAD(RIGHT(contract_management_code, 4)+1, '4' , '0')) 
			FROM contract_management;
		</select>
	
	<insert id="managementInsert" parameterType="com.smart.rider.contract.dto.ManagementDTO">
		
		INSERT INTO contract_management
			( contract_management_code
			 ,contract_code
			 ,contract_management_amout
			 ,contract_management_unpaid
			 ,contract_management_state
			 ,contract_management_contents
			 ,contract_management_date)
		VALUES ( 				
			  #{contractManagementCode}
			 ,#{contractCode}
		 	 ,#{contractManagementAmout}
		 	 ,#{contractManagementUnpaid}
	 	  	 ,#{contractManagementState}
	 	  	 ,#{contractManagementContents}
	 	     ,NOW()
	 	    )	 	    
	</insert>
	
		<select id="getManagementList" parameterType="String"  resultType="com.smart.rider.contract.dto.ManagementDTO">
			SELECT 
				 contract_management_code 		AS contractManagementCode
				,contract_management_amout 		AS contractManagementAmout
				,contract_management_unpaid 	AS contractManagementUnpaid
				,contract_management_state 		AS contractManagementState
				,contract_management_contents 	AS contractManagementContents
			FROM contract_management
			WHERE contract_management_code = #{contractManagementCode}
	</select>
	
	<update id="managementUpdate" parameterType="com.smart.rider.contract.dto.ManagementDTO">
	
		UPDATE contract_management
			SET
				 contract_management_amout=#{contractManagementAmout}
				,contract_management_unpaid=#{contractManagementUnpaid}
				,contract_management_state=#{contractManagementState}
				,contract_management_contents=#{contractManagementContents}
				,contract_management_date=NOW()
				
		WHERE contract_management_code=#{contractManagementCode}
	
	
	</update>



</mapper>