<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace가 인터페이스와 일치해야 연결된다 -->
<mapper namespace="com.smart.rider.contract.mapper.UnitMapper">
	<!-- 계약단가표 조회 -->
	<select id="unitList"
		resultType="com.smart.rider.contract.dto.UnitDTO">
		SELECT
		contract_unit_code AS contractUnitCode
		, member_id AS memberId
		, contract_unit_month AS contractUnitMonth
		, contract_unit_oneyear AS contractUnitOneyear
		, contract_unit_twoyear AS contractUnitTwoyear
		, contract_unit_date AS contractUnitDate

		FROM contract_unit
	</select>
	
	<!-- 계약단가표 코드 자동증가 -->

	<select id="unitCodeMax" resultType="String">
		SELECT 
			MAX(LPAD(RIGHT(contract_unit_code, 4)+1, '4' , '0')) 
		FROM contract_unit;
	</select>
	
	<!-- 계약단가표 생성 -->
	<insert id="unitInsert" parameterType="com.smart.rider.contract.dto.UnitDTO">
		
		INSERT INTO contract_unit

			(	contract_unit_code,
			 	member_id, 
			 	contract_unit_month,
			 	contract_unit_oneyear,
			 	contract_unit_twoyear,
			 	contract_unit_date)
		VALUES ( 				
				#{contractUnitCode},
				#{memberId},
			 	#{contractUnitMonth},
			 	#{contractUnitOneyear},
		 	  	#{contractUnitTwoyear},
		 	    NOW())
	</insert>
	


</mapper>