<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.rider.member.mapper.MemberMapper">
	<insert id="memberInsert" parameterType="com.smart.rider.member.dto.MemberDTO">
		INSERT INTO member(
			 member_id
			,member_pw
			,member_name
			,member_level
			,member_birth
			,member_address
			,member_email
			,member_phone
			,contract_shop_code
			,member_insert_date
			,member_update_date
		)VALUES (
			 #{memberId}
			,#{memberPw}
			,#{memberName}
			,'점주'
			,#{memberBirth}
			,#{memberAddress}
			,#{memberEmail}
			,#{memberPhone}
			,'SR0000'
			,NOW()
			,NOW())
	</insert>
	<select id="memberList" resultType="com.smart.rider.member.dto.MemberDTO">
		SELECT 
			 member_id 			AS memberId
			,member_pw 			AS memberPw
			,member_name		AS memberName
			,member_level 		AS memberLevel
			,member_birth 		AS memberBirth
			,member_address 	AS memberAddress
			,member_email 		AS memberEmail
			,member_phone 		AS memberPhone
			,contract_shop_code	AS contractShopCode
			,member_insert_date AS memberInsertDate
			,member_update_date AS memberUpdateDate
		FROM member
	</select>
	<!-- 19.09.16작성 -->
	<select id="memberIdCheck" parameterType="String" resultType="int">
		SELECT 
			count(*)
		FROM member 
		WHERE 
			member_id= #{memberId}
	</select>
	<select id="getMemberList" parameterType="String" resultType="com.smart.rider.member.dto.MemberDTO">
		SELECT 
			 member_id 			AS memberId
			,member_pw 			AS memberPw
			,member_name		AS memberName
			,member_level 		AS memberLevel
			,member_birth 		AS memberBirth
			,member_address 	AS memberAddress
			,member_email 		AS memberEmail
			,member_phone 		AS memberPhone
			,contract_shop_code	AS contractShopCode
		FROM member
		WHERE
			member_id = #{memberId}
	</select>
	<!-- 19.09.17작성 -->
	<update id="memberUpdate" parameterType="com.smart.rider.member.dto.MemberDTO">
		UPDATE member
		SET
			 member_name		= #{memberName}
			,member_birth		= #{memberBirth}
			,member_address		= #{memberAddress}
			,member_email		= #{memberEmail}
			,member_phone		= #{memberPhone}
			,member_update_date	= NOW()
		WHERE
			member_id = #{memberId}
	</update>
	<select id="searchMember" parameterType="String" resultType="com.smart.rider.member.dto.MemberDTO">
		SELECT 
			 member_id 			AS memberId
			,member_pw 			AS memberPw
			,member_name		AS memberName
			,member_level 		AS memberLevel
			,member_birth 		AS memberBirth
			,member_address 	AS memberAddress
			,member_email 		AS memberEmail
			,member_phone 		AS memberPhone
			,contract_shop_code AS contractShopCode
			,member_insert_date AS memberInsertDate
			,member_update_date AS memberUpdateDate
		FROM member
		<if test="searchInput != null and searchInput neq ''.toString()">
			WHERE 
				${select} Like CONCAT('%',#{searchInput},'%')
		</if>
	</select>
	<!-- 19.09.18작성 -->
	<delete id="memberDelete" parameterType="String">
		DELETE 
		FROM member
		WHERE
			member_id = #{memberId}
		and member_pw = #{memberPw}
	</delete>
	<!-- 19.09.24작성 관리자 권한일때 리스트에서 바로 삭제 -->
	<delete id="levelDelete" parameterType="String">
		DELETE 
		FROM member
		WHERE
			member_id = #{memberId}
	</delete>
	<!-- 19.09.25작성 비밀번호 수정하기 -->
	<update id="changePassword" parameterType="String">
		UPDATE member
		SET
			member_pw = #{memberPw2}
		WHERE
			member_id = #{memberId}
		and member_pw = #{memberPw}
	</update>
</mapper>