<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.rider.main.mapper.MainMapper">

	<!-- 190926 재욱,  월별로 컬럼의 합을 구하는 쿼리, 값이  없을 경우 null -->
	<select id="chartValue" resultType="com.smart.rider.main.dto.ChartValueDTO" parameterType="java.util.Map">
		SELECT 
			 DATE_FORMAT(${columnDate},'%Y-%m') chartValueMonth
			,SUM(${columnInt}) AS chartValueSum
		FROM ${chartTable}
		WHERE DATE_FORMAT(${columnDate},'%Y-%m') = #{checkMonth} AND contract_shop_code = #{contractShopCode}
	</select>
</mapper>

