<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
</th:block>
<th:block layout:fragment="customContents">
	
	<div class="container tm-mt-big tm-mb-big">
		<div class="row">
			<div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
				<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
					<div class="row">
						<div class="col-12">
						 <h2 class="tm-block-title d-inline-block">계약단가표 등록</h2>
						</div>
					</div>
            		<div class="row tm-edit-product-row">
              			<div  class="col-xl-12 col-lg-6 col-md-12" style="float:right;">
                			<form action="/unitInsert" class="tm-edit-product-form" method="post">
				                  <div class="form-group mb-3">
				                    <label
				                      for="name"
				                      style="float:right;"
				                      >월 계약금액
				                    </label>
				                    <input
				                      name="contractUnitMonth"
				                      type="text"
				                      placeholder="월 계약금액"
				                      class="form-control validate"
				                      required
				                    />
				                  </div>
				                   <div class="form-group mb-3">
				                    <label
				                      for="name"
				                      style="float:right;"
				                      >1년일시불 금액
				                    </label>
				                    <input
				                      name="contractUnitOneyear"
				                      type="text"
				                      placeholder="1년 일시불 금액"
				                      class="form-control validate"
				                      required
				                    />
				                  </div>
				                   <div class="form-group mb-3">
				                    <label
				                      for="name"
				                      style="float:right;"
				                      >2년일시불 금액
				                    </label>
				                    <!-- required : 입력란 설정  -->
				                    <input
				                      name="contractUnitTwoyear"
				                      placeholder="2년 일시불 금액"
				                      type="text"
				                      class="form-control validate"
									  required
				                    />
				                  </div>
                  					<br/>
					         		<div style="float:right;">
					              		<div class="col-12">
					               		 <button type="submit" class="btn btn-primary btn-block text-uppercase">계약단가표 등록</button>
					              		</div>
					              </div>
            				</form>
            			</div>
          			</div>
        		</div>
      		</div>
    	</div>
	</div>	
</th:block>
<th:block layout:fragment="customScript">
</th:block>
</html>