<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
</th:block>
<th:block layout:fragment="customContents">
	<!-- MAIN -->
	<div class="main">
		<div class="container mt-6">
			<div class="row tm-content-row">
				<div class="col-sm-12 col-md-12  tm-block-col">
					<div class="tm-bg-primary-dark tm-block tm-block-products">
						<div class="tm-product-table-container">
											
							<table class="table table-hover tm-table-small tm-product-table">							
								<thead>
									<tr>
										<th scope="col">상품명</th>
										<th th:text="${purchaseCode.goodsDbName}"></th>
									</tr>
									<tr>
										<th scope="col">상품카테고리</th>
										<th th:text="${purchaseCode.goodsDbCategory}" ></th>
									</tr>									
									<tr>
										<th scope="col">상품번호</th>
										<th th:text="${purchaseCode.goodsDbNumber}"></th>
									</tr>									
									<tr>
										<th scope="col">색상</th>
										<th th:text="${purchaseCode.goodsDbColor}"></th>
									</tr>
									<tr>
										<th scope="col">중량</th>
										<th th:text="${purchaseCode.goodsDbWeight}"></th>
									</tr>
									<tr>
										<th scope="col">최대속도</th>
										<th th:text="${purchaseCode.goodsDbSpeed}"></th>
									</tr>
									<tr>
										<th scope="col">박퀴사이즈</th>
										<th th:text="${purchaseCode.goodsDbSize}"></th>
									</tr>
									<tr>	
										<th scope="col">제조국가</th>
										<th th:text="${purchaseCode.goodsDbNation}"></th>
									</tr>
									<tr>	
										<th scope="col">최대하중</th>
										<th th:text="${purchaseCode.goodsDbLoad}"></th>
									</tr>
									<tr>	
										<th scope="col">주행가능거리</th>
										<th th:text="${purchaseCode.goodsDbDistance}"></th>
									</tr>
									<tr>	
										<th scope="col">베터리용량</th>
										<th th:text="${purchaseCode.goodsDbBattery}"></th>
									</tr>
									<tr>	
										<th scope="col">완충시간</th>
										<th th:text="${purchaseCode.goodsDbTime}"></th>
									</tr>
									<tr>	
										<th scope="col">제조일자</th>
										<th th:text="${purchaseCode.goodsDbMade}"></th>
									</tr>
									<tr>	
										<th scope="col">매입가격</th>
										<th th:text="${purchaseCode.purchasePay}"></th>
									</tr>
									<tr>	
										<th scope="col">거래처</th>
										<th th:text="${purchaseCode.accountMarket}"></th>
									</tr>
									<tr>	
										<th scope="col">상품상태</th>
										<th th:text="${purchaseCode.purchaseState}"></th>
									</tr>
								</thead>	
															
							</table>
												
						</div>						
						<!-- table container -->
						<a  th:if="${session.SLEVEL eq '관리자' || session.SLEVEL eq'점주'}" th:href="@{/purchaseDelete(purchaseCode=${purchaseCode.purchaseCode})}"
							class="btn btn-primary btn-block text-uppercase mb-3">매입 삭제하기</a>
						<a  th:href="@{/goodsInsert(purchaseCode=${purchaseCode.purchaseCode})}"
							class="btn btn-primary btn-block text-uppercase mb-3">판매상품 등록하기</a>	
						
					</div>
				</div>
		
			</div>
		</div>

	</div>
	<!-- END MAIN -->
	
</th:block>
</th:block>
<th:block layout:fragment="customScript">
</th:block>
</html>


