<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
</th:block>
<th:block layout:fragment="customContents">
	<form action="/purchaseInsert" method="post" class="tm-edit-product-form">
		<div class="container tm-mt-big tm-mb-big">
			<div class="row">
				<div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
					<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
						<div class="row">
							<div class="col-12">
								<h2 class="tm-block-title d-inline-block">매입 등록하기</h2>
							</div>
						</div>
						<div class="row tm-edit-product-row">
							<div class="col-xl-6 col-lg-6 col-md-12">

								<div class="form-group mb-3">
									<label for="name"></label> <input id="goodsDbCode"
										name="goodsDbCode" type="hidden" class="form-control validate"
										th:value="${goodsDbCode.goodsDbCode}" required />
								</div>
								<div class="form-group mb-3">
									<label for="name"></label> <input id="purchaseCode"
										name="purchaseCode" type="hidden" class="form-control validate"
										 required />
								</div>
								<!-- <div class="form-group mb-3">
									<label for="name"></label> <input id="memberId"
										name="memberId " type="hidden" class="form-control validate"
										th:value="${goodsDbCode.memberId}" required />
								</div> -->
								<div class="form-group mb-3">
									<label for="name">상품명 </label> <input id="goodsDbName"
										name="goodsDbName" type="text" class="form-control validate"
										th:value="${goodsDbCode.goodsDbName}" 
										required />
								</div>
								<div class="form-group mb-3">
									<label for="category">거래처</label> 
									<select	class="custom-select tm-select-accounts" id="accountCode"
										name="accountCode">
											<option  value="">거래처 선택</option>
											<th:block th:each="pl : ${pList}">
												<option th:value="${pl.accountCode}">[[${pl.accountName}]]</option>
											</th:block>
									</select>
								</div>
								<div class="form-group mb-3">
									<label for="name">매입단가 </label>
									 <input id="purchasePay"name="purchasePay" type="text" class="form-control validate"
										required />
								</div>
								<div class="form-group mb-3">
									<label for="name">상품상태 </label> <input id="purchaseState"
										name="purchaseState" type="text" class="form-control validate"
										required />

								</div>
								<div class="form-group mb-3">
									<label for="expire_date">등록날짜. </label> <input
										id="purchasePay" name="purchaseDate" type="text"
										class="form-control validate" data-large-mode="true" />
								</div>

							</div>
							<div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
								<div class="tm-product-img-dummy mx-auto">
									<i class="fas fa-cloud-upload-alt tm-upload-icon"
										onclick="document.getElementById('goodsDbImage').click();"></i>
								</div>
								<div class="custom-file mt-3 mb-3">
									<input id="goodsDbImage" type="file" style="display: none;" />
									<input type="button" class="btn btn-primary btn-block mx-auto"
										value="이미지등록"
										onclick="document.getElementById('goodsDbImage').click();" />
								</div>
							</div>
							<div class="col-12">
								<!-- <a
				            	href="/goodsdbInsert"
				              	class="btn btn-primary btn-block text-uppercase mb-3">DB상품 추가하기</a> -->
								<button type="submit"
									class="btn btn-primary btn-block text-uppercase">상품등록
									확인</button>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="js/jquery-3.3.1.min.js"></script>
		<!-- https://jquery.com/download/ -->
		<script src="jquery-ui-datepicker/jquery-ui.min.js"></script>
		<!-- https://jqueryui.com/download/ -->
		<script src="js/bootstrap.min.js"></script>
		<!-- https://getbootstrap.com/ -->
		<script>
			$(function() {
				$("#expire_date").datepicker();
			});
		
		</script>
	</form>
</th:block>
</th:block>
<th:block layout:fragment="customScript">
</th:block>
</html>


