<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.rider.shop.mapper.ShopMapper">
	<!-- 매장관리 전체조회 쿼리 -->
	<select id="shopList" resultType="com.smart.rider.shop.dto.ShopDTO">
		select
			shop_code AS shopCode
			,contract_code AS contractCode
			,member_id AS memberId
			,shop_name AS shopName
			,shop_address AS shopAddress
			,shop_phone AS shopPhone
			,shop_date AS shopDate
		FROM shop
	
	</select>
	<!-- 매장계약관리 전체조회 쿼리 -->
	<select id="relationList" resultType="com.smart.rider.shop.dto.ShopRelationDTO">
		select
			 contract_shop_code AS contractShopCode
			,member_id  AS memberId
			,shop_code AS shopCode
			,contract_shop_date AS contractShopDate
		FROM shop_relation
	
	</select>
	
	<!-- 가져온 코드로 데이터 중 member_id값 가져오기 -->
	<select id="getCode" resultType="com.smart.rider.contract.dto.ContractDTO" parameterType="String">
		SELECT 
				member_id AS memberId

		FROM contract
		WHERE contract_code = #{Code};
	
	</select>
	
		<!-- 가져온 코드로 데이터 중 member_id값 가져오기 -->
	<select id="getScode" resultType="com.smart.rider.shop.dto.ShopDTO" parameterType="String">
		SELECT 
				member_id AS memberId

		FROM shop
		WHERE shop_code = #{Code};
	
	</select>
	<!-- 매장코드  자동증가 -->
	<select id="shopCodeMax" resultType="String">
		SELECT 
			MAX(LPAD(RIGHT(shop_code, 4)+1, '4' , '0')) 
		FROM shop;
	</select>
	
	<!-- 매장계약코드 자동증가 -->
	<select id="relationCodeMax" resultType="String">
		SELECT 
			MAX(LPAD(RIGHT(contract_shop_code, 4)+1, '4' , '0')) 
		FROM shop_relation;
	</select>
	
	<!--매장 생성 쿼리 -->
	<insert id="shopInsert" parameterType="com.smart.rider.shop.dto.ShopDTO">
			INSERT INTO shop

			(	shop_code
				,contract_code  
				,member_id  
			 	,shop_name
			 	,shop_address
			 	,shop_phone
			 	,shop_date)
		VALUES ( 				
				 #{shopCode}
				,#{contractCode}
				,#{memberId}
			 	,#{shopName}
			 	,#{shopAddress}
		 	  	,#{shopPhone}
		 	    ,NOW()
		 	    )
	
	</insert>
	<!-- 계약릴레이션  생성 쿼리  -->
	<insert id="relationInsert" parameterType="com.smart.rider.shop.dto.ShopRelationDTO">
		INSERT INTO shop_relation
		(
		 contract_shop_code
		,member_id
		,shop_code
		,contract_shop_date
		)
		VALUES (
		 #{contractShopCode}
		,#{memberId}
		,#{shopCode}
		, NOW()
		)
	
	</insert>
	<select id="posList" resultType="com.smart.rider.shop.dto.PosDTO">
		SELECT 
		 	pos_code 				AS posCode
			,contract_shop_code 	AS contractShopCode
			,pos_name 				AS posName
			,pos_number 			AS posNumber
			,pos_use 				AS posUse
		FROM pos
	
	
	</select>
</mapper>

