<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- Begin Header -->
	<div id="header" th:fragment="headerFragment">
		<!-- NAVBAR -->
		 <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="/">
                	<h2 class="tm-site-title mb-0"> 배포 190926</h2>             
                </a>

                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">
                                <i class="fas fa-tachometer-alt"></i>
                                HOME
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                                           
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-file-alt"></i>
                                <span>
                                   	 지출/매출 <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/salesList">!)매출</a>
                                <a class="dropdown-item" href="/inventoryList">!)재고</a>
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             					   aria-haspopup="true" aria-expanded="false">지출</a>
                                <div class="dropdown dropright" style="position: absolute; left: 90px; top:103px;">
									<div class="dropdown-menu">
								    	<a class="dropdown-item" href="/spendTotal">!)통합</a>
								    	<a class="dropdown-item" href="/spendSalary">!)급여</a>
								    	<th:block th:if="${session.SLEVEL ne '직원'}">
								    		<a class="dropdown-item" href="/spendUtility">공과금/기타</a>
								    	</th:block>
									</div>
								</div>
                       		</div>
                        </li>
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-file-contract" ></i>
                                <span>
                                  	 계약관리<i class="fas fa-angle-down"></i>
                                </span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{/contract}"> !)계약관리</a>
                                <a class="dropdown-item" th:href="@{/agreement}"> !)계약서관리</a>
                                <a class="dropdown-item" th:href="@{/managementList}"> !)계약금관리</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
								
                                <i class="fas fa-shopping-cart"></i>
                                <span>
                                    	상품관리 <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:if="${session.SLEVEL ne '직원'}" href="/goodsDbList">상품DB관리</a>
                                <a class="dropdown-item" href="/purchaseList">!)매입상풍</a>
                                <a class="dropdown-item" href="/goodsList">!)판매상품</a>
                                <a class="dropdown-item" href="/goodsRentalList">!)대여상품</a>
                            </div>
                        </li>
						<!-- 매장관리 드롭다운 대여고객관리추가 -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            	<i class="fas fa-store"></i>
                            	<span>
                            		매장관리<i class="fas fa-angle-down"></i>
                            	</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            	<a class="dropdown-item" href="/shop">!)매장</a>
                                <a class="dropdown-item" href="/customerList">#)대여고객 관리</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-user"></i>
                                <span>
                                     	거래관리 <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{/accountList}">!)거래처관리</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown" th:if="${session.SLEVEL eq '관리자'}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cog"></i>
                                <span>
                                     <i class="fas fa-angle-down"></i>
                                     	관리자
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/subjectList">계정과목관리</a>
                            	<a class="dropdown-item" href="/memberList">회원목록</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown" th:if="${session.SLEVEL eq '점주'}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-users-cog"></i>
                                <span>
									직원관리
                                     <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            	<a class="dropdown-item" href="/employeeInsert">직원등록</a>
                            	
                            	<a class="dropdown-item" href="/workAdmin">!근태관리</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-block" th:href="@{/login}" th:if="${session.SID eq null}">                                
                                	<b>Login</b>
                            </a>
                            <a class="nav-link d-block" th:href="@{/logout}" th:unless="${session.SID eq null}">                                
                                	<b>Logout</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
		<!-- END NAVBAR -->
	</div>
	<!-- End Header -->
</html>